<div
  [@flyInOut]="'in'"
  [ngClass]="{
    'pointer-events-none': isPointerDragging,
    'draggable-panel': draggable === true,
    'sticky-panel': draggable === false
  }"
  class="panel"
  [style.left.px]="left"
  [style.top.px]="top"
  [style.width.px]="width"
  [style.height.px]="height"
  [draggable.disable]="draggable ? false : true"
  [draggable.stack]="draggable ? '.draggable-panel' : ''"
  [resizable.disable]="draggable ? false : true"
  appDraggable
  appResizable
  #draggablePanel
>
  <div *ngIf="navigation" class="title">
    <span>{{ panelService.title }}</span>
    <div class="title-button">
      <button (click)="toggleFullScreen()">
        <i class="material-icons" style="font-size: 14px">fullscreen</i>
      </button>
      <button (click)="close()">
        <i class="material-icons" style="font-size: 14px">close</i>
      </button>
    </div>
  </div>
  <div class="scrollable-panel" #scrollablePanel>
    <ng-content></ng-content>
    <div #content></div>
  </div>
</div>
