@import '~@ng-select/ng-select/themes/default.theme.css';
@import '~@ctrl/ngx-emoji-mart/picker';

.table {
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  .table-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 50px);
    flex-wrap: wrap;
    &.image-wrapper {
      width: 50px;
    }
    .table-cell {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin-bottom: 0.313em;
      form {
        width: 80%;
      }
      textarea {
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  }
}

.imagebox {
  display: inline-block;
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  vertical-align: top;
  text-align: center;
}

.image {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  object-fit: cover;
  object-position: 50% 0%;
}

.chat-input {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  resize: none;
  overflow: auto;
  padding: 0.313em;

  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  word-break: break-word;
  vertical-align: bottom;
}

.writing-info {
  font-size: 8px;
  height: 1.3em;
}

.direct-message {
  background-color: #555;
  color: #ccc;
}
.emoji-mart-search-icon {
  top: 7px;
}
.emoji-mart {
  position: absolute;
  top: -225px;
  right: 36px;
}
.emoji-mart-search {
  button {
    background-color: transparent;
    color: #fff;
    cursor: auto;
    &:hover,
    &:focus {
      background-color: transparent;
      color: #fff;
      cursor: auto;
    }
  }
}
.emoji-mart-scroll {
  height: 150px;
}
