.large-font {
  font-size: 64px;
}

.small-font {
  font-size: 12px;
}

.box {
  border-bottom: 1px dotted #888;
}

h1 {
  font-size: 1em;
  margin-bottom: 0.5em;
  border-bottom: 1px dotted #555;
  display: flex;
  label {
    margin-left: auto;
  }
}

/*スクロールバー全体*/
::-webkit-scrollbar {
  width: 10px;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 50, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

.drop-zone {
  cursor: pointer;
}

.jukebox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  .player {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #444;
    color: #fff;
    .mode-wrapper {
      display: flex;
      justify-content: center;
    }
    span {
      display: block;
      &.title {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
      }
      &.control {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
      &.center {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }
    button {
      background: transparent;
      padding: 0;
      border-radius: 50%;
      margin: 0;
      width: 29px;
      height: 29px;
      display: block;
      .material-icons {
        display: block;
      }
      &.play,
      &.stop {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        .material-icons {
          font-size: 45px;
        }
        &:disabled {
          background-color: #ccc;
          border: 1px solid #ccc;
          color: #555;
        }
      }
      &.play {
        background-color: #11ab63;
        border: 1px solid #11ab63;
        color: #fff;
      }
      &.stop {
        background-color: #f70000;
        border: 1px solid #f70000;
        color: #fff;
      }
      &.broadcast {
        color: #fff;
        border: none;
        margin-left: auto;
      }
      &:focus {
        border-radius: 50%;
        outline: none;
      }
    }
  }
  .playlist {
    width: 100%;
    overflow-y: auto;
    max-height: 150px;
    padding-bottom: 1em;
    .item {
      padding: 0.313em 0;
      margin: 0;
      display: flex;
      span {
        display: block;
        width: 50%;
      }
    }
  }
  .note {
    font-size: 12px;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: auto;
    border-top: 1px dotted #888;
    padding-top: 0.5em;
    span {
      display: block;
      width: 100%;
      display: flex;
      align-items: center;
    }
  }
}
